.IENA {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	font-family: "Achemine",Arial,sans-serif;
	color: #fff;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	background-color: #CCCCCC;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@font-face {
	font-family: 'Achemine';
	src: url('../fonts/Achemine.ttf') format('truetype');
}
@font-face {
	font-family: 'Transilien';
	src: url('../fonts/TransilienSmall.ttf') format('truetype');
}

.IENA table{
	width: 91.5vw;
}
.IENA table, tr{
	border-spacing: 0;
}

.IENA .head{
	background-color: #fff;
	height: 9vh;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.IENA .head-title{
	color: #667C8A;
	left: 20.5vw;
	position: fixed;
	font-weight: bold;
	vertical-align: middle;
	font-size: 6.1vh;
	top: 1vh;
}
.IENA .voie{
	background-color: #181B3E;
	position: fixed;
	right: 1vw;
	top: 3.2vh;
	width: 6vw;
	border-radius: 9px;
	text-align: center;
	padding: 0.2vw;
	font-size: 2.5vh;
	font-weight: bold;
}
.IENA .départmax{
	margin: 0.8vw 7.2vw 0vw 1.1vw;
	background-color: #181B3E;
	border-radius: 2vh;
	height: 10.5vh;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
	z-index: 3;
}
.IENA .départmax .img{
	height: 14vhvh;
}
.IENA .départmin{
	margin: 1vw 7.2vw 0vw 1.1vw;
	background-color: #181B3E;
	border-radius: 2vh;
	height: 10vh;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
	z-index: 3;
}
.IENA départmin .img{
	height: 9vh;
}
.IENA img{
	max-height: 5.5vh;
	margin-left: 1.2vw;
	max-width: 6vw;
}
.IENA .miss{
	font-family: "Transilien",Arial,sans-serif;
	padding-left: 1.2vw;
	font-size: 7vh;
	
	width: 10vw;
}
.IENA .dest{
	font-size: 6vh;
	padding-left: 1.9vh;
	font-weight: bold;
	overflow: hidden;
	max-width: 10vw;
}

.IENA .img, .void {
	width: 7.4vw;
}
.IENA .trafic { width: 12vw; }
.IENA .time { width: 13.8vw; }
.IENA .track { width: 7.5vw; }

.IENA .trafic{	
	font-size: 4vh;
	padding-right: 2vw;
}
.IENA .time{	
	font-size: 4.6vh;
	width: 8vw;
	text-align: right;
	padding-right: 1vw;
}
.IENA .direct{
	font-style: italic;
	font-size: 4.5vh;
	font-weight: lighter;
	font-family: Corbel;
	color: #ffffffd1;
}
.IENA .tracki{
	box-shadow: #181B3E 0px 0px 2.2vh, #181B3E 0px 0px 0px 1.1vh;
	height: 11vh;
	background-color: #fff;
	border-radius: 1vh;
	position: absolute;
	right: 2vw;
	width: 8vw;
}
.IENA .tracki0{
	margin-top: 10px;
}
.IENA .tracki1{
	margin-top: 18px;
}
.IENA .trackc{
	box-shadow: #181B3E 0px 0px 2.2vh, #181B3E 0px 0px 0px 1.1vh;
	height: 7.8vh;
	background-color: #fff;
	border-radius: 1vh;
	position: absolute;
	right: 2vw;
	width: 8vw;
}
.IENA .trackc:nth-child(1){
	margin-top: 10px;
}
.IENA .trackc:nth-child(2){
	margin-top: 18px;
}
.IENA .num{
	margin-left: 1.5vw;
	text-align: center;
	color: #181b3e;
	font-size: 6vh;
	font-weight: bold;
	margin-top: 3px;
}

.IENA .stop{
	margin-left: 0.8vw;
	font-size: 4.5vh;
	overflow: hidden;
	height: 6vh;
	max-width: 80vw;
	border-radius: 2vh;
	background-color: #131637;
	margin-bottom: 1.5vh;
}

	
	/*-- Grand affichage --*/
	.IENA .max .dest{
		font-size: 9.2vh;
	}

	/*-- Petit affichage --*/
	.IENA .min .dest{
		font-size: 7.8vh;
	}

	.IENA .iena-time{
	background-color: #667C8A;
	width: 16vh;
	position: fixed;
	top: 2vh;
	height: 5vh;
	border-radius: 5px;
	left: 3vw;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
	text-align: center;
}


.IENA .hour{
	position: relative;
	top: 0.4vh;
	font-size: 4vh;
	font-weight: bold;
}
