/* --- Mobile --- */

.head-time{
	top: 9px;
	right: 10px;

	font-size: 20px;
	font-weight: bold;
	color: #323233;
	background-color: #fff;

	position: fixed;
	border-radius: 10px;
	padding: 1px 5px;
	z-index: 11;
}

.Mobile .arr{
	position: absolute;
    font-weight: bold;
    right: 0;
    font-size: 24vh;
    bottom: 0;
    z-index: 1;
    color: #ffffff1c;
}

/* --- Mobile Head --- */

.head-mobile {
    z-index: 10;
    animation: head-mobile 0.5s ease 1;
}

.mobile-img{
    width: 80px;
    text-align: center;
}
.mobile-time{
    width: 130px;
    text-align: left;
}
.mobile-detail{
    position: relative;
    animation: mobile-detail 0.5s ease 1;
}
.mobile-global{
    position: relative;
    animation: mobile-detail 0.5s ease 1;
}

@keyframes head-mobile {
    0%{
        top: -50px;
    }
    100%{
        top: 0px;
    }
}
@keyframes mobile-detail {
    0%{
        top: 100vh;
    }
    100%{
        top: 0px;
    }
}

/* --- Mobile Detail --- */

.mobile-a{
    cursor: pointer;
}

.stops{
    margin-left: 10px;
}
.stop-dots{
	position: relative;
	display: inline-block;
	margin-bottom: 0.5vh;
	border-radius: 50%;
	background: #18C1F5;
	margin-right: 2px;
	top: 3px;
	left: -8px;
	width: 10px;
	height: 10px;
}
.stop-dots2{
	position: relative;
	display: inline-block;
	margin-bottom: 0.5vh;
	border-radius: 50%;
	background: #18C1F5;
	margin-right: 10px;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
}
.stop-line{
	position: relative;
	width: 4px;
	display: inline-block;
	background-color: #18C1F5;
	height: 27px;
	top: -7px;
	right: -3px;
	left: 3px;
}

.grey-stop-dots{
	position: relative;
	display: inline-block;
	margin-bottom: 0.5vh;
	border-radius: 50%;
	background: #555;
	margin-right: 2px;
	top: 3px;
	left: -8px;
	width: 10px;
	height: 10px;
}
.grey-stop-dots2{
	position: relative;
	display: inline-block;
	margin-bottom: 0.5vh;
	border-radius: 50%;
	background: #555;
	margin-right: 10px;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
}
.grey-stop-line{
	position: relative;
	width: 4px;
	display: inline-block;
	background-color: #555;
	height: 27px;
	top: -7px;
	right: -3px;
	left: 3px;
}
/* --- Mobile Global --- */

.departure .Mobile{
    background: linear-gradient(to bottom, #211e27, #281a2c, #2b1922);
}

.arrival .Mobile{
    background: linear-gradient(to bottom, #1e2527, #1a292c, #19242b);
}

.Mobile{
	font-family: "Segoe UI",Arial,sans-serif;
    top: 50px;
    width: 100vw;
    height: calc(100vh - 50px);
    background: linear-gradient(to bottom, #211e27, #281a2c, #2b1922);
    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;
}
.Mobile .img{
    max-height: 23px;
    padding-right: 10px;
    position: relative;
    top: 3px;
}

.Mobile table{
    width: 100vw;
}
.Mobile .time{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    text-align: right;
    padding-right: 20px;
}
.Mobile .info {
    font-size: 18px;
    font-weight: normal;
    color: #18C1F5;
}
.Mobile .late {
    font-size: 18px;
    font-weight: normal;
    color: #ffa500;
}
.Mobile .deleted {
    font-size: 18px;
    font-weight: normal;
    color: #D32929;
}
.Mobile .hr{
    height: 2px;
    background-color: #ffffff30;
}
.Mobile .dest{
    font-weight: lighter;
    font-size: 20px;
    padding: 10px;
    max-width: calc(100vw - 150px);
    overflow: hidden;
}
.Mobile .trafic{
    font-size: 15px;
    padding-left: 10px;
    color: #a4a4a4;
}


.alert-rotate {
    bottom: 0;
    padding: 10px;
    position: fixed;
    opacity: 0;
    animation: alert-rotate 7s ease 1;
    max-width: 100vw;
    white-space: break-spaces;
    background-color: #262626;
    box-shadow: #262626 0px 5px 15px;
}
.alert-rotate img{
	filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(39deg) brightness(107%) contrast(107%);
}
.alert-rotate .phone {
    max-width: none;
    max-height: none;
    width: 50px;
    animation: alert-rotate-phone 1.5s ease infinite;
}
.alert-rotate span{
    display: inline-block;
    position: relative;
    top: -20px;
    left: 15px;
}
@keyframes alert-rotate {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes alert-rotate-phone {
    0%{
        opacity: 0;
        transform: rotate(45deg);
    }
    10% {
        opacity: 1;
        transform: rotate(45deg);
    }
    80% {
        opacity: 1;
        transform: rotate(-45deg);
    }
    90%{
        opacity: 0;
        transform: rotate(-45deg);
    }
    100%{
        opacity: 0;
        transform: rotate(45deg);
    }
}