.RENFE {
	font-family: Trebuchet MS;
	font-weight: bold;
	color: #666;
	background-color: #fff;

	width: 100vw;
	height: 100vh;
}

.RENFE img{
	max-height: 7vh;
	max-width: 11vw;
	margin: 1vh;
}

.RENFE table, .RENFE tr {
	border-spacing: 0;
}

.RENFE .head td:nth-child(1) {
	padding-left: 1vw;
}

.RENFE table.timetable tr {
	height: 10.66vh;
}

.RENFE table.timetable td {
	background-color: #fdfda9;
}

.RENFE table.timetable tr td:nth-child(1) {
	font-size: 3vw;
	background-color: #407e33;
	text-align: center;
	color: #FFF;
	font-family: "Courier New";
}

.RENFE table.timetable tr td:nth-child(2) {
	font-size: 3vw;
	padding-left: 1.6vw;
	border-bottom: 1px solid #666;
}

.RENFE table.timetable tr td:nth-child(3) {
	border-bottom: 1px solid #666;
}

.RENFE table.timetable tr td:nth-child(4) {
	font-size: 2vw;
	font-weight: bold;
	border-bottom: 1px solid #666;
}

.RENFE table.timetable tr td:nth-child(5) {
	font-family: "Courier New";
	font-size: 3vw;
	text-align: center;
	border-bottom: 1px solid #666;
}

.RENFE table.timetable tr td:nth-child(6) {
	font-size: 2vw;
	border-bottom: 1px solid #666;
}

.RENFE table.timetable tr:nth-child(1) td {
	background-color: #FFF;
	border: none;
}

.RENFE table.timetable tr:nth-child(2) td,
.RENFE table.timetable tr:nth-child(3) td,
.RENFE table.timetable tr:nth-child(4) td {
	background-color: #FFF;
	color: #407e33;
	text-align: left;
	font-family: sans-serif;
	border: none;
}

.RENFE table.timetable tr:nth-child(2) {
	height: 3vh;
}

.RENFE table.timetable tr:nth-child(3) {
	height: 6.5vh;
}
.RENFE table.timetable tr:nth-child(3) td {
	font-size: 2.5vw;
}

.RENFE table.timetable tr:nth-child(4) {
	height: 5.2vh;
}
.RENFE table.timetable tr:nth-child(4) td {
	font-size: 2vw;
	font-weight: normal;
	letter-spacing: 2px;
}

.RENFE .center, .RENFE  .center *{
	text-align: center;
}

.RENFE table.timetable td.current-time {
	background-color: #555 !important;
	color: #FFF;
}

.RENFE .smaller-title {
	font-size: 2.5vw;
	letter-spacing: 2px;
}

.RENFE .salidas-title {
	font-size: 4vw;
	font-family: "Segoe UI";
	font-weight: 150;
}

.RENFE .orange {
	color: #fa8719;
}

.RENFE .retard {
	color: #ea5113
}

.RENFE .no-train{
	font-family: "Segoe UI";
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: #407e33;
	color: #fff;
	padding: 15px;
	z-index: 10;
}