body{
    margin: 0;
    background-color: #000;
}
a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'MS_Sans_Serif';
    src: url('./MS Sans Serif 8pt.ttf')  format('truetype');
}
@font-face {
    font-family: 'MS_Sans_Serif_Bold';
    src: url('./MS Sans Serif 8pt bold.ttf')  format('truetype');
}



.windows{
    background-color: #c0c0c0;
    border-top: 2px solid #e2e2e2;
    border-left: 2px solid #e2e2e2;
    border-right: 2px solid #3b3b3b;
    border-bottom: 2px solid #3b3b3b;

    max-width: 500px;
    display: inline-block;
}

.desktop{
    text-align: center;
    font-family: "MS_Sans_Serif",Arial,sans-serif;
}
.windows{
    position: relative;
    text-align: left;
    z-index: 10;
    top: 25vh;
}
.title{
    background-color: #0100c8;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.close .button{
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #3b3b3b;
}
.button{
    background-color: #c0c0c0;
    border-top: 2px solid #e2e2e2;
    border-left: 2px solid #e2e2e2;
    border-right: 2px solid #3b3b3b;
    border-bottom: 2px solid #3b3b3b;

    display: inline-block;
    cursor: pointer;
}
.button:active{
    border-right: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
    border-top: 2px solid #3b3b3b;
    border-left: 2px solid #3b3b3b;
}
.content{
    padding: 5px;
    color: #000;
}
.content tr{
    max-width: 490px;
    display: inline-block;
}
.content img{
    width: 50px;
}
.choose{
    text-align: center;
}
.choose .button{
    width: 120px;
    margin: 0 10px;
}

.details{
    padding-left: 10px;
    white-space: break-spaces;
}
